<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring and Hibernate Demo</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/eventapp.css" rel="stylesheet"  type="text/css" />
	<script type="text/javascript" src="jquery/1.6/jquery.js"></script>
</head>
<body>

	<script>
		function retrieveEvents() {
		    var url = '/getevents';
		
		    if ($('#eventType').val() != '') {
		    	if ($('#eventType').val() == 'Select') {
		    		alert("Please select event type");
		    		return false;
		    	}
		        url = url + '?eventType=' + $('#eventType').val();
		    }
		
		    $("#resultsBlock").load(url);
		}
	</script>
	
	<form>
	    <span ><h1>Naperville - Upcoming Events</h1></span>
	    <div id="listBlock">	    
	        <div class="wrapper2" id="select-block">        
	        	<label>Select Event Type:</label>
	            <select id="eventType">
	            	<option>Select</option>
				   	<option th:each="e : ${eventTypes}" th:value="${e.name()}" th:text="${e.name()}"/>            
	             </select>
	            <button id="searchButton" name="searchButton" onclick="retrieveEvents()" type="button">Submit</button>
	        </div>
	
	        <!-- Results block -->
	        <div id="resultsBlock">
	        </div>
	    </div>
	</form>
</body>
</html>
