<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="css/eventapp.css" rel="stylesheet"  type="text/css" />
</head>
	<body>
	    <div class="wrapper" th:fragment="resultsList" th:unless="${#lists.isEmpty(events)}" id="results-block">
		  <div class="table">	    
			    <div class="row header">
			      <div class="cell">
			        Summary
			      </div>
			      <div class="cell">
			        Description
			      </div>
			      <div class="cell">
			        Location
			      </div>
			    </div>
			    
			    <div class="row" th:each="event : ${events}">
			      <div class="cell" th:text="${event.summary}">
			      </div>
			      <div class="cell" th:text="${event.description}">
			      </div>
			      <div class="cell" th:text="${event.location}">
			      </div>
			    </div>

		    </div>	        
	    </div>
	</body>
</html>